html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;

}

.img-flex {
  display: block;
  width: 100%;
}

title {
  font-family: "Open Sans", sans-serif;
}

h1 {

}
